daniel.json
{ "nodes": [ { "parameters": { "updates": [ "*" ], "additionalFields": {} }, "type": "n8n-nodes-base.telegramTrigger", "typeVersion": 1.2, "position": [ -80, -16 ], "name": "Telegram Trigger", "id": "97e299c2-fc35-4782-97dd-354c0dbb6251", "webhookId": "dc373f2f-7543-45c6-bd4a-55727264a116", "credentials": { "telegramApi": { "id": "1TgyA7zT6HSpXmrB", "name": "Telegram account" } } }, { "parameters": { "options": {} }, "type": "n8n-nodes-base.set", "typeVersion": 3, "position": [ 160, -16 ], "name": "Preparar Mensagem", "id": "f8a0a82e-187a-4a78-966f-c4a73ab2a815" }, { "parameters": { "promptType": "define", "text": "={{ $json.message.text }}", "options": { "systemMessage": "Você é o AGENTE OFICIAL DE REGISTRO DE PERSONAGENS D&D 5e do grupo Mestre Galhart.\n\nOBJETIVO:\nRegistrar personagens D&D 5e fazendo perguntas curtas e diretas, UMA POR VEZ, aguardando cada resposta antes de prosseguir.\n\nPROIBIÇÕES:\n- Nunca faça listas ou blocos de perguntas.\n- Nunca narre histórias.\n- Nunca faça roleplay.\n- Nunca gere diálogos longos.\n- Nunca pule etapas.\n- Nunca mostre os dados coletados durante o processo.\n- Nunca use Markdown pesado (* _ etc).\n- Nunca solicite vários dados ao mesmo tempo.\n\nSE O USUÁRIO DESVIAR DO CADASTRO:\nResponda apenas:\n\"Estamos registrando seu personagem. Vamos continuar?\"\n\nFLUXO OBRIGATÓRIO (perguntar exatamente nesta ordem, UMA PERGUNTA POR VEZ):\n\n1. Qual é seu nome real?\n2. Qual será o nome do personagem?\n3. Qual a raça do personagem?\n4. Qual a classe?\n5. Qual o nível?\n6. Qual o background (antecedente)?\n7. Qual a tendência (ex: Leal e Bom)?\n8. Valor de Força?\n9. Valor de Destreza?\n10. Valor de Constituição?\n11. Valor de Inteligência?\n12. Valor de Sabedoria?\n13. Valor de Carisma?\n14. Pontos de Vida máximos?\n15. Classe de Armadura?\n16. Ele é conjurador? (true ou false)\n17. Atributo de conjuração? (apenas se for conjurador)\n18. Deseja adicionar informações extras à ficha? Se sim, descreva em texto e eu colocarei em sheet_json. Se não, diga \"não\".\n\nCAMPOS OFICIAIS DA FERRAMENTA Postgres RPG Tool:\nOs únicos campos permitidos são:\ntelegram_user_id\ntelegram_username\nreal_name\ncharacter_name\nrace\nclass\nlevel\nbackground\nalignment\nmax_hp\narmor_class\nstr_score\ndex_score\ncon_score\nint_score\nwis_score\ncha_score\nis_spellcaster\nspellcasting_ability\nsheet_json\n\nQUALQUER informação que não esteja nesta lista (itens, magias, perícias, história, traços etc) deve SEMPRE ir dentro do campo sheet_json como JSON.\n\nCHAMADA DA FERRAMENTA:\n- Ao coletar TODOS os campos, chame a ferramenta Postgres RPG Tool UMA ÚNICA VEZ.\n- Envie APENAS os campos listados acima.\n- NÃO ENVIE NENHUM campo extra.\n- NÃO FAÇA JSON manual.\n- NÃO FORMATE TEXTO.\n\nFINALIZAÇÃO:\nApós a ferramenta retornar sucesso:\n\n1. Envie a mensagem:\n✅ Personagem [NOME DO PERSONAGEM] registrado com sucesso!\n\n2. Em seguida envie UM BLOCO ÚNICO DE TEXTO com o resumo final da ficha exatamente neste formato:\n\nResumo da Ficha:\n\nNome real: [real_name]\nPersonagem: [character_name]\nRaça: [race]\nClasse: [class]\nNível: [level]\nBackground: [background]\nTendência: [alignment]\n\nAtributos:\nForça: [str_score]\nDestreza: [dex_score]\nConstituição: [con_score]\nInteligência: [int_score]\nSabedoria: [wis_score]\nCarisma: [cha_score]\n\nCombate:\nPV Máx: [max_hp]\nClasse de Armadura: [armor_class]\n\nConjuração:\nConjurador: [is_spellcaster]\nAtributo: [spellcasting_ability]\n\nInformações extras:\n[sheet_json]\n\nREGRAS FINAIS:\n- O resumo deve ser enviado SEM marcação Markdown.\n- NÃO faça explicações.\n- NÃO adicione comentários.\n- NÃO inicie nova conversa." } }, "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 3, "position": [ 432, -16 ], "name": "AI Agent", "id": "5a00d6b8-932d-40e0-b0f2-f0ae54f3304c" }, { "parameters": { "sessionKey": "={{ $json.chat_id }}-telegram", "sessionTTL": 3600 }, "type": "@n8n/n8n-nodes-langchain.memoryRedisChat", "typeVersion": 1, "position": [ 480, 208 ], "name": "Redis Chat Memory", "id": "6747e9a4-3d96-4de0-a50e-56e222ead4e2", "credentials": { "redis": { "id": "cvoLMMT8ZAPUYxld", "name": "Redis account" } } }, { "parameters": { "descriptionType": "manual", "toolDescription": "Ferramenta Postgres para salvar fichas de personagem D&D 5e na tabela public.rpg_players.\n\nREGRAS:\n- Só pode fazer INSERT ou SELECT na tabela public.rpg_players.\n- NUNCA usar UPDATE, DELETE, DROP, TRUNCATE.\n- AO SER CHAMADA PELO AGENTE, a ferramenta receberá SOMENTE estes campos:\n telegram_user_id, telegram_username, real_name, character_name, race, class, level, background, alignment, max_hp, armor_class, str_score, dex_score, con_score, int_score, wis_score, cha_score, is_spellcaster, spellcasting_ability, sheet_json.\n\nEla mesma monta o INSERT fixo usando esses campos.\n", "operation": "executeQuery", "query": "INSERT INTO public.rpg_players (\n telegram_user_id,\n telegram_username,\n real_name,\n character_name,\n race,\n class,\n level,\n background,\n alignment,\n max_hp,\n armor_class,\n str_score,\n dex_score,\n con_score,\n int_score,\n wis_score,\n cha_score,\n is_spellcaster,\n spellcasting_ability,\n sheet_json\n) VALUES (\n {{ $json.telegram_user_id }},\n '{{ $json.telegram_username }}',\n '{{ $json.real_name }}',\n '{{ $json.character_name }}',\n '{{ $json.race }}',\n '{{ $json.class }}',\n {{ $json.level }},\n '{{ $json.background }}',\n '{{ $json.alignment }}',\n {{ $json.max_hp }},\n {{ $json.armor_class }},\n {{ $json.str_score }},\n {{ $json.dex_score }},\n {{ $json.con_score }},\n {{ $json.int_score }},\n {{ $json.wis_score }},\n {{ $json.cha_score }},\n {{ $json.is_spellcaster }},\n '{{ $json.spellcasting_ability }}',\n '{{ JSON.stringify($json.sheet_json) }}'::jsonb\n)\nRETURNING id;", "options": {} }, "type": "n8n-nodes-base.postgresTool", "typeVersion": 2.6, "position": [ 688, 192 ], "name": "Postgres RPG Tool", "id": "04d3d256-eb8a-444a-8661-80d9a4f07360", "credentials": { "postgres": { "id": "fRNavSYNEr8rrgnR", "name": "Postgres account" } } }, { "parameters": { "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}", "text": "={{ $json.output.replace(/([*_])/g, '\\\\$1') }}", "additionalFields": {} }, "type": "n8n-nodes-base.telegram", "typeVersion": 1.2, "position": [ 848, -16 ], "name": "Telegram Send", "id": "837d0dfd-404c-482f-8c6e-62af85aff1c6", "webhookId": "c424f4de-14b3-4dc1-982f-bdc4b581e888", "credentials": { "telegramApi": { "id": "1TgyA7zT6HSpXmrB", "name": "Telegram account" } } }, { "parameters": { "options": { "temperature": 0.1 } }, "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini", "typeVersion": 1, "position": [ 304, 192 ], "id": "d408bcef-9846-48e0-af1a-79146f9e5933", "name": "Google Gemini Chat Model", "credentials": { "googlePalmApi": { "id": "dCRBGTpFX8DnKm5Y", "name": "Google Gemini(PaLM) Api account" } } } ], "connections": { "Telegram Trigger": { "main": [ [ { "node": "Preparar Mensagem", "type": "main", "index": 0 } ] ] }, "Preparar Mensagem": { "main": [ [ { "node": "AI Agent", "type": "main", "index": 0 } ] ] }, "AI Agent": { "main": [ [ { "node": "Telegram Send", "type": "main", "index": 0 } ] ] }, "Redis Chat Memory": { "ai_memory": [ [ { "node": "AI Agent", "type": "ai_memory", "index": 0 } ] ] }, "Postgres RPG Tool": { "ai_tool": [ [ { "node": "AI Agent", "type": "ai_tool", "index": 0 } ] ] }, "Google Gemini Chat Model": { "ai_languageModel": [ [ { "node": "AI Agent", "type": "ai_languageModel", "index": 0 } ] ] } }, "pinData": {}, "meta": { "templateCredsSetupCompleted": true, "instanceId": "82a0b6c2033eb2e531b802dac7072de9d7090a7397ee4c924dced66f92352e3f" } }