daniel.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -16
      ],
      "name": "Telegram Trigger",
      "id": "97e299c2-fc35-4782-97dd-354c0dbb6251",
      "webhookId": "dc373f2f-7543-45c6-bd4a-55727264a116",
      "credentials": {
        "telegramApi": {
          "id": "1TgyA7zT6HSpXmrB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chat_id",
              "value": "={{ $json[\"message\"][\"chat\"][\"id\"] }}"
            },
            {
              "name": "telegram_user_id",
              "value": "={{ $json[\"message\"][\"from\"][\"id\"] }}"
            },
            {
              "name": "telegram_username",
              "value": "={{ $json[\"message\"][\"from\"][\"username\"] || \"\" }}"
            },
            {
              "name": "message_text",
              "value": "={{ $json[\"message\"][\"text\"] || \"\" }}"
            },
            {
              "name": "message_id",
              "value": "={{ $json[\"message\"][\"message_id\"] }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "name": "Preparar Mensagem",
      "id": "f8a0a82e-187a-4a78-966f-c4a73ab2a815"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message_text }}",
        "options": {
          "systemMessage": "Você é o AGENTE OFICIAL DE REGISTRO DE PERSONAGENS D&D 5e do grupo Mestre Galhart.\n\nOBJETIVO:\nRegistrar fichas D&D 5e completas, perguntar UMA informação por vez e salvar tudo no Postgres.\n\nREFERÊNCIAS:\n- Use bgs.json, classes.json, raca.json, talentos.json e listademagia.json apenas como guia para validar nomes.\n- Se o jogador informar algo fora do padrão, peça confirmação ou sugira um equivalente próximo.\n\nTEMPLATE OBRIGATÓRIO PARA sheet_json (copie sempre este modelo, preencha os campos confirmados e mantenha os padrões quando algo não for informado):\n{\n  \"player\": {\n    \"real_name\": \"\",\n    \"player_nickname\": \"\",\n    \"telegram_user_id\": null,\n    \"telegram_username\": \"\"\n  },\n  \"character\": {\n    \"character_name\": \"\",\n    \"race\": \"\",\n    \"subrace\": \"\",\n    \"class\": \"\",\n    \"subclass\": \"\",\n    \"background\": \"\",\n    \"alignment\": \"\",\n    \"level\": 1,\n    \"xp\": 0,\n    \"inspiration\": false\n  },\n  \"abilities\": {\n    \"str\": 10,\n    \"dex\": 10,\n    \"con\": 10,\n    \"int\": 10,\n    \"wis\": 10,\n    \"cha\": 10,\n    \"mods\": {\n      \"str_mod\": 0,\n      \"dex_mod\": 0,\n      \"con_mod\": 0,\n      \"int_mod\": 0,\n      \"wis_mod\": 0,\n      \"cha_mod\": 0\n    }\n  },\n  \"proficiency\": {\n    \"bonus\": 2,\n    \"saving_throws\": {\n      \"str\": false,\n      \"dex\": false,\n      \"con\": false,\n      \"int\": false,\n      \"wis\": false,\n      \"cha\": false\n    },\n    \"skills\": {\n      \"acrobatics\": false,\n      \"animal_handling\": false,\n      \"arcana\": false,\n      \"athletics\": false,\n      \"deception\": false,\n      \"history\": false,\n      \"insight\": false,\n      \"intimidation\": false,\n      \"investigation\": false,\n      \"medicine\": false,\n      \"nature\": false,\n      \"perception\": false,\n      \"performance\": false,\n      \"persuasion\": false,\n      \"religion\": false,\n      \"sleight_of_hand\": false,\n      \"stealth\": false,\n      \"survival\": false\n    },\n    \"tools\": [],\n    \"armor_proficiencies\": [],\n    \"weapon_proficiencies\": [],\n    \"language_proficiencies\": []\n  },\n  \"combat\": {\n    \"max_hp\": 1,\n    \"current_hp\": 1,\n    \"temporary_hp\": 0,\n    \"hit_dice\": \"\",\n    \"hit_dice_used\": 0,\n    \"armor_class\": 10,\n    \"initiative_bonus\": 0,\n    \"speed\": 9,\n    \"senses\": {\n      \"darkvision\": \"\",\n      \"passive_perception\": 10\n    }\n  },\n  \"attacks\": [],\n  \"equipment\": {\n    \"armor\": [],\n    \"weapons\": [],\n    \"items\": [],\n    \"coins\": {\n      \"cp\": 0,\n      \"sp\": 0,\n      \"ep\": 0,\n      \"gp\": 0,\n      \"pp\": 0\n    }\n  },\n  \"features_traits\": {\n    \"racial_traits\": [],\n    \"class_features\": [],\n    \"background_features\": [],\n    \"feats\": [],\n    \"other_traits\": []\n  },\n  \"personality\": {\n    \"traits\": [],\n    \"ideals\": [],\n    \"bonds\": [],\n    \"flaws\": []\n  },\n  \"spells\": {\n    \"is_spellcaster\": false,\n    \"spellcasting_ability\": \"\",\n    \"spell_save_dc\": null,\n    \"spell_attack_bonus\": null,\n    \"spell_slots\": {\n      \"level_1\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_2\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_3\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_4\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_5\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_6\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_7\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_8\": {\n        \"total\": 0,\n        \"used\": 0\n      },\n      \"level_9\": {\n        \"total\": 0,\n        \"used\": 0\n      }\n    },\n    \"cantrips\": [],\n    \"level_1\": [],\n    \"level_2\": [],\n    \"level_3\": [],\n    \"level_4\": [],\n    \"level_5\": [],\n    \"level_6\": [],\n    \"level_7\": [],\n    \"level_8\": [],\n    \"level_9\": [],\n    \"prepared_spells\": []\n  },\n  \"background_detail\": {\n    \"story_summary\": \"\",\n    \"appearance\": \"\",\n    \"allies_organizations\": \"\",\n    \"backstory\": \"\",\n    \"notes_dm\": \"\"\n  },\n  \"advancement\": {\n    \"milestones\": [],\n    \"magic_items\": []\n  },\n  \"system\": {\n    \"edition\": \"D&D 5e\",\n    \"sourcebooks\": [],\n    \"created_at\": \"\",\n    \"updated_at\": \"\"\n  }\n}\n\nPREENCHIMENTO OBRIGATÓRIO DO TEMPLATE:\n- player.real_name = nome real coletado.\n- player.player_nickname = apelido do jogador (vazio se não quiser informar).\n- player.telegram_user_id e player.telegram_username = dados do contexto, nunca pergunte.\n- character.* = dados coletados (subrace/subclass vazios se não houver; inspiration padrão false).\n- abilities.* = valores informados; calcule cada modificador com floor((atributo - 10) / 2).\n- proficiency.bonus = bônus de proficiência do nível (níveis 1-4 = 2; 5-8 = 3; 9-12 = 4; 13-16 = 5; 17-20 = 6) ou use 2 quando o nível não for claro.\n- combat.* = use PV máximos, CA e movimento informados; initiative_bonus = modificador de Destreza; current_hp começa igual a max_hp; hit_dice conforme classe; passive_perception = 10 + mod Sabedoria (ajuste se o jogador declarar proficiência ou outro valor).\n- spells.* = preencha is_spellcaster e spellcasting_ability; se houver atributo de conjuração, calcule spell_save_dc = 8 + bônus de proficiência + modificador do atributo e spell_attack_bonus = bônus de proficiência + modificador do atributo; mantenha slots zerados se não houver informação.\n- preencha features_traits, equipment, attacks, personality, background_detail e advancement com o que o jogador relatar; mantenha arrays vazios quando não houver detalhes.\n- system.created_at e system.updated_at = timestamps ISO (UTC) no momento do registro.\n\nREGRAS DE CONVERSA:\n- Não faça listas de perguntas.\n- Não narre histórias, não faça roleplay e não use Markdown pesado.\n- Não mostre os dados coletados antes do final.\n- Se o usuário mudar de assunto, responda apenas: \"Estamos registrando seu personagem. Vamos continuar?\".\n\nFLUXO OBRIGATÓRIO (pergunte nesta ordem, aguardando resposta a cada passo):\n1. Nome real.\n2. Apelido do jogador (opcional; se não quiser, registre vazio).\n3. Nome do personagem.\n4. Raça e sub-raça (se houver).\n5. Classe e subclasse/patrono (se houver).\n6. Nível e XP (se o jogador informar XP).\n7. Background (antecedente).\n8. Tendência.\n9. Força.\n10. Destreza.\n11. Constituição.\n12. Inteligência.\n13. Sabedoria.\n14. Carisma.\n15. PV máximos.\n16. Classe de Armadura.\n17. Deslocamento básico em metros.\n18. Dado de vida do personagem (ex: 1d8) e usos gastos.\n19. Iniciativa (se não informar, use modificador de Destreza).\n20. Sentidos especiais e Percepção Passiva.\n21. Conjurador? (true/false).\n22. Atributo de conjuração (se aplicável).\n23. Magias conhecidas/slot (opcional; registre mesmo que parcialmente informado).\n24. Ataques e danos (opcional).\n25. Equipamentos, itens e moedas (opcional).\n26. Traços de raça/classe/background, talentos e outros (opcional).\n27. Personalidade (traços, ideais, laços, defeitos) e histórico/observações (opcional).\n28. Peça confirmação final antes de salvar e então monte o sheet_json usando o template acima, preenchido com todos os dados obtidos e padrões para o restante.\n\nREGRAS DA FERRAMENTA:\n- Não peça o telegram_user_id ou o username; eles já estão no contexto.\n- Envie todos os campos obrigatórios para a Postgres RPG Tool uma única vez ao final.\n- Não envie campos além dos permitidos.\n- sheet_json sempre deve seguir o template limpo preenchido.\n\nFINALIZAÇÃO:\nApós resposta de sucesso da ferramenta, envie:\n1) \"✅ Personagem [character_name] registrado com sucesso!\"\n2) Um único bloco de texto, sem Markdown, com o resumo exatamente neste formato:\nResumo da Ficha:\nNome real: [real_name]\nPersonagem: [character_name]\nRaça: [race]\nClasse: [class]\nNível: [level]\nBackground: [background]\nTendência: [alignment]\nAtributos:\nForça: [str_score]\nDestreza: [dex_score]\nConstituição: [con_score]\nInteligência: [int_score]\nSabedoria: [wis_score]\nCarisma: [cha_score]\nCombate:\nPV Máx: [max_hp]\nClasse de Armadura: [armor_class]\nConjuração:\nConjurador: [is_spellcaster]\nAtributo: [spellcasting_ability]\nInformações extras:\n[sheet_json]\n- Não adicione comentários ou explicações.\n- Não inicie nova conversa após o resumo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -16
      ],
      "name": "AI Agent",
      "id": "5a00d6b8-932d-40e0-b0f2-f0ae54f3304c"
    },
    {
      "parameters": {
        "sessionKey": "={{ ($json.telegram_user_id || $json.chat_id) + \"-telegram\" }}",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1,
      "position": [
        480,
        208
      ],
      "name": "Redis Chat Memory",
      "id": "6747e9a4-3d96-4de0-a50e-56e222ead4e2",
      "credentials": {
        "redis": {
          "id": "cvoLMMT8ZAPUYxld",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Ferramenta Postgres para salvar fichas de personagem D&D 5e na tabela public.rpg_players.\n\nRegras:\n- Permitido apenas INSERT com UPSERT (ON CONFLICT) e SELECT na tabela public.rpg_players.\n- Nunca use DELETE, DROP ou TRUNCATE.\n- Campos aceitos: telegram_user_id, telegram_username, real_name, character_name, race, class, level, background, alignment, max_hp, armor_class, str_score, dex_score, con_score, int_score, wis_score, cha_score, is_spellcaster, spellcasting_ability, sheet_json.\n- telegram_user_id deve ser a chave única do jogador (vindo diretamente do Telegram Trigger).\n- sheet_json deve sempre seguir o template completo fornecido no system message, preenchido com valores confirmados e padrões para o restante.",
        "operation": "executeQuery",
        "query": "INSERT INTO public.rpg_players (\n telegram_user_id,\n telegram_username,\n real_name,\n character_name,\n race,\n class,\n level,\n background,\n alignment,\n max_hp,\n armor_class,\n str_score,\n dex_score,\n con_score,\n int_score,\n wis_score,\n cha_score,\n is_spellcaster,\n spellcasting_ability,\n sheet_json\n) VALUES (\n {{ $json.telegram_user_id }},\n '{{ $json.telegram_username }}',\n '{{ $json.real_name }}',\n '{{ $json.character_name }}',\n '{{ $json.race }}',\n '{{ $json.class }}',\n {{ $json.level }},\n '{{ $json.background }}',\n '{{ $json.alignment }}',\n {{ $json.max_hp }},\n {{ $json.armor_class }},\n {{ $json.str_score }},\n {{ $json.dex_score }},\n {{ $json.con_score }},\n {{ $json.int_score }},\n {{ $json.wis_score }},\n {{ $json.cha_score }},\n {{ $json.is_spellcaster }},\n '{{ $json.spellcasting_ability }}',\n '{{ JSON.stringify($json.sheet_json) }}'::jsonb\n)\nON CONFLICT (telegram_user_id) DO UPDATE SET\n telegram_username = EXCLUDED.telegram_username,\n real_name = EXCLUDED.real_name,\n character_name = EXCLUDED.character_name,\n race = EXCLUDED.race,\n class = EXCLUDED.class,\n level = EXCLUDED.level,\n background = EXCLUDED.background,\n alignment = EXCLUDED.alignment,\n max_hp = EXCLUDED.max_hp,\n armor_class = EXCLUDED.armor_class,\n str_score = EXCLUDED.str_score,\n dex_score = EXCLUDED.dex_score,\n con_score = EXCLUDED.con_score,\n int_score = EXCLUDED.int_score,\n wis_score = EXCLUDED.wis_score,\n cha_score = EXCLUDED.cha_score,\n is_spellcaster = EXCLUDED.is_spellcaster,\n spellcasting_ability = EXCLUDED.spellcasting_ability,\n sheet_json = EXCLUDED.sheet_json\nRETURNING telegram_user_id;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        688,
        192
      ],
      "name": "Postgres RPG Tool",
      "id": "04d3d256-eb8a-444a-8661-80d9a4f07360",
      "credentials": {
        "postgres": {
          "id": "fRNavSYNEr8rrgnR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output.replace(/([*_])/g, '\\\\$1') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -16
      ],
      "name": "Telegram Send",
      "id": "837d0dfd-404c-482f-8c6e-62af85aff1c6",
      "webhookId": "c424f4de-14b3-4dc1-982f-bdc4b581e888",
      "credentials": {
        "telegramApi": {
          "id": "1TgyA7zT6HSpXmrB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "d408bcef-9846-48e0-af1a-79146f9e5933",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dCRBGTpFX8DnKm5Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres RPG Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82a0b6c2033eb2e531b802dac7072de9d7090a7397ee4c924dced66f92352e3f"
  }
}