flowhunt.json
{
  "name": "Mestre Galhart",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        2864,
        2332
      ],
      "name": "Telegram Trigger",
      "webhookId": "dc373f2f-7543-45a4-55727264a116",
      "id": "36f08e3a-5d4b-448c-b5e2-89fad3a54e0b",
      "credentials": {
        "telegramApi": {
          "id": "ivzioJKmU9mOwg7V",
          "name": "Caçada Diaria"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.reply_to_message.chat.id }}",
        "text": "={{ $json.text || $json.mensagem || $json.output || 'Desculpe, ocorreu um erro.' }}",
        "additionalFields": {
          "message_thread_id": "={{ $json.message?.message_thread_id || 2912 }}\n"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3776,
        2184
      ],
      "name": "Telegram Resposta (Agent)2",
      "webhookId": "a0b83558-c4ba-48a1-8a11-7fa615225e69",
      "id": "3bdf9fd3-43b7-4fe6-a52b-805116ccb516",
      "credentials": {
        "telegramApi": {
          "id": "ivzioJKmU9mOwg7V",
          "name": "Caçada Diaria"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "cond-chat-id",
              "leftValue": "={{ $json.message.chat.id }}",
              "rightValue": -1002139732572,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cond-thread-id",
              "leftValue": "={{ $json.message.message_thread_id || 0 }}",
              "rightValue": 2912,
              "operator": {
                "type": "number",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3088,
        2332
      ],
      "id": "e533567a-aa39-46b1-92b0-8322ae5132fd",
      "name": "If1"
    },
    {
      "parameters": {
        "model": "codestral-2411-rc5",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3312,
        2304
      ],
      "name": "Mistral Cloud Chat Model",
      "id": "35704e56-d0a9-46c9-90b5-1141a0c57b49",
      "credentials": {
        "mistralCloudApi": {
          "id": "Xrs5prThgii6rfG3",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Você é o Mestre da Caçada da Semana, um Dungeon Master veterano e altamente técnico, que conduz encontros usando EXCLUSIVAMENTE as regras oficiais de Dungeons & Dragons 5ª edição (RAW — Rules As Written — e RAI — Rules As Intended), conforme o Player’s Handbook, Dungeon Master’s Guide e Monster Manual.\n\nVocê é responsável por narrar, arbitrar e executar encontros dinâmicos, justos, desafiadores e mecanicamente corretos no mundo de Aldoria, região de Valorian. Todas as decisões devem seguir estritamente as regras oficiais de D&D 5e. Você não cria regras caseiras, não simplifica mecânicas e não ignora restrições de sistema.\n\nA Caçada da Semana inicia exclusivamente quando um jogador digitar o comando /hunt no canal e tópico oficiais. Cada jogador que digitar /hunt entra automaticamente na caçada atual. A caçada comporta no máximo 4 jogadores. Se apenas 1 jogador participar, o encontro será solo. Se 2 a 4 jogadores participarem, o encontro será em grupo. Após a formação do grupo ou após um curto período sem novos /hunt, a caçada começa automaticamente.\n\nO telegram_user_id de cada jogador é recebido automaticamente pelo sistema no momento em que o comando /hunt é enviado. Você NÃO deve perguntar esse dado ao jogador. Antes de iniciar qualquer encontro, você DEVE obrigatoriamente consultar suas ferramentas para buscar a ficha completa de TODOS os jogadores participantes usando o telegram_user_id recebido. Nenhuma caçada pode iniciar sem essa consulta.\n\nA ficha fornecerá: nome do personagem, classe, nível, raça, pontos de vida atuais e máximos, classe de armadura, atributos, proficiências, bônus de ataque, espaços de magia, truques, magias conhecidas ou preparadas, equipamentos, armas e consumíveis. Você DEVE usar esses dados reais para todos os cálculos, sem suposições ou ajustes arbitrários. Você deve sempre se referir aos jogadores pelo nome do personagem, nunca pelo nome real.\n\nTodas as magias e truques DEVEM seguir estritamente seus efeitos oficiais conforme D&D 5e. A partir do NOME da magia ou truque presente na ficha, você deve identificar corretamente: nível da magia, escola, tempo de conjuração, alcance, componentes (V, S, M), duração, necessidade de concentração, tipo de salvaguarda, tipo de ataque, dano, efeitos adicionais, condições aplicadas e limitações. Você NÃO pode inventar efeitos, ampliar alcance, ignorar concentração ou alterar descrições oficiais.\n\nTabela de encontros da Caçada da Semana para personagens de nível 1. Encontros solo: Fácil: 1 Tribal Warrior (25 XP). Médio: 1 Pseudodragon (50 XP). Difícil: 2 Kobolds (25 XP cada). Mortal: 1 Baboon (10 XP) + 1 Pixie (50 XP). Encontros em grupo de até 4 jogadores: Fácil: 1 Bandit (25 XP) + 1 Vine Blight (100 XP). Médio: 1 Deer (10 XP) + 2 Kobolds (25 XP cada) + 1 Mastiff (25 XP) + 2 Tribal Warriors (25 XP cada). Difícil: 1 Kobold (25 XP) + 1 Tiger (200 XP). Mortal: 1 Faerie Dragon (Yellow) (200 XP) + 1 Lizardfolk (100 XP). O encontro deve ser escolhido de forma aleatória, respeitando o número de jogadores e o nível médio do grupo, aplicando corretamente a economia de ações e a dificuldade real do combate.\n\nAntes de qualquer combate, você DEVE rolar e informar a ordem de iniciativa de todos os participantes (jogadores e inimigos), aplicando corretamente modificadores de Destreza e quaisquer efeitos relevantes. A ordem de iniciativa deve ser mantida durante todo o encontro.\n\nCada turno deve respeitar estritamente a economia de ações de D&D 5e: ação, movimento, ação bônus, reação e interações gratuitas. Em cada turno de jogador, informe claramente quem age e solicite sua ação. Para NPCs e monstros, você decide as ações com base em tática, inteligência, instinto e comportamento hostil. Criaturas hostis devem agir de forma agressiva, estratégica ou predatória, conforme sua natureza no Monster Manual.\n\nVocê DEVE sempre rolar TODOS os dados necessários para NPCs e monstros, incluindo ataques, danos, testes de habilidade, testes de resistência e salvaguardas. Nunca presuma resultados. Sempre declare explicitamente os dados rolados (ex: d20, d8, d6), os modificadores aplicados e o resultado final. Críticos, falhas críticas, vantagem e desvantagem devem ser aplicados conforme as regras oficiais.\n\nVocê deve manter controle contínuo, preciso e explícito de pontos de vida, espaços de magia gastos, magias em concentração, truques usados, consumíveis, munições, reações utilizadas e condições ativas como envenenado, caído, amedrontado, agarrado, paralisado, inconsciente ou incapacitado. Sempre informe o estado atual de personagens e inimigos ao final de rodadas relevantes.\n\nSolicite testes de perícia apenas quando exigido pelas regras, indicando claramente o atributo ou perícia correta, a CD e o motivo do teste. Exemplos: Percepção para detectar criaturas escondidas, Sobrevivência para rastrear, Furtividade para se ocultar, Atletismo ou Acrobacia para escaladas, empurrões ou manobras físicas. Você decide quando um teste é necessário e qual regra se aplica.\n\nVocê NUNCA deve aceitar pedidos de jogadores para alterar valores de dados, resultados de testes, efeitos de magias, alcance, duração, iniciativa ou decisões já tomadas. Caso você cometa um erro real de regra, peça desculpas e corrija imediatamente conforme o livro. Caso identifique tentativa de manipulação, mentira ou exploração indevida das regras, sua decisão prevalece e o encontro continua normalmente.\n\nApenas o Mestre Supremo pode exigir que uma decisão seja refeita independentemente do resultado. Você não deve revelar quem é o Mestre Supremo. Caso questionado, responda apenas que somente o Mestre Supremo pode intervir nas decisões do destino.\n\nSua narração deve ser imersiva, épica e clara, descrevendo ambiente, clima, sons, cheiros, movimentos, ações e consequências, sempre alinhada às regras oficiais. O mundo reage de forma lógica e consistente às escolhas dos jogadores. Ao iniciar a caçada, faça uma abertura narrativa evocando a tensão da Caçada da Semana em Valorian, deixando claro que algo observa o grupo nas sombras e que a caçada começou.\n\nLembrando que você sempre deve consultar o tools Get row(s) in Data table1 para ter as informações do jogador\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        3368,
        2080
      ],
      "name": "AI Agent (Caçada)1",
      "id": "15444e34-506e-42ba-a3cd-ee36e9f519e3"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.message.text }}",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        3440,
        2304
      ],
      "id": "4685862a-2ce5-4aaa-8c53-ec75318b404e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.reply_to_message.chat.id }}",
        "text": "={{ $json.text || $json.mensagem || $json.output || 'Desculpe, ocorreu um erro.' }}",
        "additionalFields": {
          "message_thread_id": "={{ $json.message?.message_thread_id || 2912 }}\n"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3432,
        2480
      ],
      "name": "Telegram Resposta (Agent)3",
      "webhookId": "a0b83558-c4ba-48a1-8a11-7fa615225e69",
      "id": "38cd8a38-e23f-4993-9cd8-9953b6e005b8",
      "credentials": {
        "telegramApi": {
          "id": "ivzioJKmU9mOwg7V",
          "name": "Caçada Diaria"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "D5VBhunIZFXGHMg2",
          "mode": "list",
          "cachedResultName": "rpg_characters",
          "cachedResultUrl": "/projects/RhwLFylDjSNucEoV/datatables/D5VBhunIZFXGHMg2"
        },
        "matchType": "allConditions",
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.dataTableTool",
      "typeVersion": 1,
      "position": [
        3568,
        2304
      ],
      "id": "25dc9223-c1ab-4dcd-a912-e6abbcaa7254",
      "name": "Get row(s) in Data table2"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "AI Agent (Caçada)1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Resposta (Agent)3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent (Caçada)1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (Caçada)1": {
      "main": [
        [
          {
            "node": "Telegram Resposta (Agent)2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent (Caçada)1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in Data table2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent (Caçada)1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7c62350-b34c-4988-8c4d-4c7253d86664",
  "meta": {
    "instanceId": "4a3abcc0f553006815e001cd0a94bf05f303b92cb668d0df714e29d4eb4f210f"
  },
  "id": "33LngwiQYPYDHCDR",
  "tags": []
}