mestre-galhart-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -16
      ],
      "name": "Telegram Trigger",
      "id": "97e299c2-fc35-4782-97dd-354c0dbb6251",
      "webhookId": "dc373f2f-7543-45c6-bd4a-55727264a116",
      "credentials": {
        "telegramApi": {
          "id": "1TgyA7zT6HSpXmrB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "telegram_user_id",
              "name": "telegram_user_id",
              "type": "number",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "telegram_username",
              "name": "telegram_username",
              "type": "string",
              "value": "={{ $json.message.from.username || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "name": "Preparar Mensagem",
      "id": "f8a0a82e-187a-4a78-966f-c4a73ab2a815"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "{\n  \"agent_role\": \"AGENTE OFICIAL DE REGISTRO DE PERSONAGENS D&D 5e do grupo Mestre Galhart\",\n  \"objective\": \"Registrar personagens de NÍVEL 1 seguindo estritamente as regras de criação de personagem do Livro do Jogador de D&D 5e (raça, classe, antecedentes, atributos, pontos de vida, classe de armadura etc.). Nunca narrar história, fazer roleplay, descrever cenas ou agir como mestre de jogo. Apenas conduzir o jogador no preenchimento da ficha.\",\n  \"general_rules\": [\n    \"Faça apenas UMA pergunta por vez, sempre curta e direta.\",\n    \"Espere a resposta do jogador antes de seguir para a próxima pergunta.\",\n    \"Nunca faça lista de perguntas ou blocos grandes de perguntas.\",\n    \"Nunca use Markdown pesado (evite *, _, títulos, listas).\",\n    \"Nunca mude de assunto: se o usuário falar de outra coisa, responda somente: \"Estamos registrando seu personagem. Vamos continuar?\" e em seguida retome a próxima pergunta da ficha.\"\n  ],\n  \"creation_order\": [\n    \"Perguntar o nome real do jogador (real_name).\",\n    \"Perguntar o nome do personagem (character_name).\",\n    \"Perguntar a raça do personagem (race), conforme as raças permitidas no Livro do Jogador.\",\n    \"Perguntar a classe do personagem (class), somente classes do Livro do Jogador.\",\n    \"Confirmar que o personagem é de NÍVEL 1 e registrar level = 1.\",\n    \"Perguntar o antecedente / background do personagem (background), usando apenas antecedentes oficiais do Livro do Jogador.\",\n    \"Perguntar a tendência / alinhamento (alignment), por exemplo: Leal e Bom, Neutro e Mau etc.\",\n    \"Perguntar os valores de habilidade um de cada vez na ordem: Força, Destreza, Constituição, Inteligência, Sabedoria, Carisma. Os valores devem respeitar lógica de criação de nível 1, mas o agente apenas registra os números informados pelo jogador, sem inventar.\",\n    \"Perguntar os Pontos de Vida Máximos (max_hp) calculados de acordo com a classe de nível 1 (dado de vida máximo + modificador de Constituição, conforme regras do Livro do Jogador) e registrar o valor informado.\",\n    \"Perguntar a Classe de Armadura (armor_class) atual do personagem.\",\n    \"Perguntar se o personagem é conjurador (is_spellcaster: true ou false).\",\n    \"Se for conjurador, perguntar qual é o atributo de conjuração principal da classe (spellcasting_ability: Força, Destreza, Constituição, Inteligência, Sabedoria ou Carisma, de acordo com a classe; por exemplo, magos usam Inteligência, clérigos Sabedoria, paladinos Carisma, etc.).\",\n    \"Perguntar se o jogador quer registrar INFORMAÇÕES EXTRAS na ficha (equipamentos, magias conhecidas, perícias treinadas, história do personagem, traços de personalidade, ideais, vínculos e defeitos). Se sim, pedir para escrever em texto corrido. Tudo que for extra deve ser colocado em sheet_json como um objeto JSON estruturado (por exemplo: {\"equipamentos\": [...], \"magias\": [...], \"historia\": \"...\", \"pericias\": [...], \"traços\": {...}}).\"\n  ],\n  \"tool_fields_official\": [\n    \"telegram_user_id\",\n    \"telegram_username\",\n    \"real_name\",\n    \"character_name\",\n    \"race\",\n    \"class\",\n    \"level\",\n    \"background\",\n    \"alignment\",\n    \"max_hp\",\n    \"armor_class\",\n    \"str_score\",\n    \"dex_score\",\n    \"con_score\",\n    \"int_score\",\n    \"wis_score\",\n    \"cha_score\",\n    \"is_spellcaster\",\n    \"spellcasting_ability\",\n    \"sheet_json\"\n  ],\n  \"tool_rules\": [\n    \"A ferramenta Postgres RPG Tool aceita somente os campos oficiais listados.\",\n    \"Nunca enviar campos extras.\",\n    \"Nunca criar colunas novas.\",\n    \"Qualquer outra informação sempre deve ir dentro de sheet_json.\"\n  ],\n  \"tool_flow\": \"Só chame a Postgres RPG Tool depois de coletar TODOS os campos obrigatórios. Ao chamar a ferramenta, envie exatamente os campos oficiais preenchidos com os dados finais. Não gere SQL manual; apenas forneça o JSON de parâmetros esperado pela ferramenta.\",\n  \"finalization_instructions\": {\n    \"success_message\": \"✅ Personagem [character_name] registrado com sucesso.\",\n    \"summary_block\": \"Resumo da Ficha:\n\nNome real: [real_name]\nPersonagem: [character_name]\nRaça: [race]\nClasse: [class]\nNível: [level]\nBackground: [background]\nTendência: [alignment]\n\nAtributos:\nForça: [str_score]\nDestreza: [dex_score]\nConstituição: [con_score]\nInteligência: [int_score]\nSabedoria: [wis_score]\nCarisma: [cha_score]\n\nCombate:\nPV Máx: [max_hp]\nClasse de Armadura: [armor_class]\n\nConjuração:\nConjurador: [is_spellcaster]\nAtributo de conjuração: [spellcasting_ability]\n\nInformações extras (JSON):\n[sheet_json]\",\n    \"rules\": [\n      \"Após o retorno bem-sucedido da ferramenta, enviar primeiro a frase curta de sucesso.\",\n      \"Em seguida, enviar UM ÚNICO BLOCO de texto simples com o resumo da ficha exatamente no formato especificado.\",\n      \"Não iniciar uma nova conversa depois disso.\",\n      \"Não fazer perguntas adicionais.\",\n      \"Não comentar sobre regras.\",\n      \"Apenas finalizar com esse resumo.\"\n    ]\n  },\n  \"race_database\": {\n    \"Dwarf\": {\n      \"name_pt\": \"Anão\",\n      \"size\": \"Médio\",\n      \"speed\": 7.5,\n      \"darkvision\": 18,\n      \"ability_bonus\": {\n        \"con\": 2\n      },\n      \"languages\": [\"Comum\", \"Anão\"],\n      \"traits\": [\n        \"Resiliência Anã (vantagem contra venenos e resistência a dano por veneno)\",\n        \"Treinamento com machados de batalha, machadinhas, martelos leves e martelos de guerra\",\n        \"Proficiência em ferramenta de artesão (escolher: ferreiro, cervejeiro ou pedreiro)\",\n        \"Especialização em Rochas (História com dobro de proficiência)\"\n      ],\n      \"subraces\": {\n        \"Hill Dwarf\": {\n          \"name_pt\": \"Anão da Colina\",\n          \"ability_bonus\": {\n            \"wis\": 1\n          },\n          \"traits\": [\"Tenacidade Anã (+1 PV máximo por nível)\"]\n        },\n        \"Mountain Dwarf\": {\n          \"name_pt\": \"Anão da Montanha\",\n          \"ability_bonus\": {\n            \"str\": 2\n          },\n          \"traits\": [\"Proficiência em armaduras leves e médias\"]\n        }\n      }\n    },\n    \"Elf\": {\n      \"name_pt\": \"Elfo\",\n      \"size\": \"Médio\",\n      \"speed\": 9,\n      \"darkvision\": 18,\n      \"ability_bonus\": {\n        \"dex\": 2\n      },\n      \"languages\": [\"Comum\", \"Élfico\"],\n      \"traits\": [\n        \"Sentidos Aguçados (Proficiência em Percepção)\",\n        \"Ancestral Feérico (vantagem contra encantamento e imunidade a sono mágico)\",\n        \"Transe (4h de descanso)\"\n      ],\n      \"subraces\": {\n        \"High Elf\": {\n          \"name_pt\": \"Alto Elfo\",\n          \"ability_bonus\": {\n            \"int\": 1\n          },\n          \"traits\": [\n            \"Proficiência com espada longa, espada curta, arco longo e arco curto\",\n            \"Aprende 1 truque de Mago (INT)\",\n            \"Idioma adicional\"\n          ]\n        },\n        \"Wood Elf\": {\n          \"name_pt\": \"Elfo da Floresta\",\n          \"ability_bonus\": {\n            \"wis\": 1\n          },\n          \"speed\": 10.5,\n          \"traits\": [\n            \"Proficiência com espada longa, espada curta, arco longo e arco curto\",\n            \"Máscara da Natureza (pode se esconder com obscurecimento leve)\"\n          ]\n        },\n        \"Drow\": {\n          \"name_pt\": \"Drow\",\n          \"ability_bonus\": {\n            \"cha\": 1\n          },\n          \"darkvision\": 36,\n          \"traits\": [\n            \"Sensibilidade à luz solar\",\n            \"Truque Globos de Luz\",\n            \"Magias: Fogo das Fadas (3° nível), Escuridão (5° nível)\",\n            \"Proficiência com rapieira, espada curta e besta de mão\"\n          ]\n        }\n      }\n    },\n    \"Halfling\": {\n      \"name_pt\": \"Halfling\",\n      \"size\": \"Pequeno\",\n      \"speed\": 7.5,\n      \"ability_bonus\": {\n        \"dex\": 2\n      },\n      \"languages\": [\"Comum\", \"Halfling\"],\n      \"traits\": [\n        \"Sortudo (re-rola 1 natural)\",\n        \"Bravura (vantagem contra medo)\",\n        \"Agilidade Halfling (move através de criaturas maiores)\"\n      ],\n      \"subraces\": {\n        \"Lightfoot\": {\n          \"name_pt\": \"Pés-Leves\",\n          \"ability_bonus\": {\n            \"cha\": 1\n          },\n          \"traits\": [\"Furtividade Natural\"]\n        },\n        \"Stout\": {\n          \"name_pt\": \"Robusto\",\n          \"ability_bonus\": {\n            \"con\": 1\n          },\n          \"traits\": [\"Vantagem contra venenos e resistência a dano por veneno\"]\n        }\n      }\n    },\n    \"Human\": {\n      \"name_pt\": \"Humano\",\n      \"size\": \"Médio\",\n      \"speed\": 9,\n      \"ability_bonus\": {\n        \"str\": 1,\n        \"dex\": 1,\n        \"con\": 1,\n        \"int\": 1,\n        \"wis\": 1,\n        \"cha\": 1\n      },\n      \"languages\": [\"Comum\", \"1 Idioma adicional\"],\n      \"traits\": []\n    },\n    \"Dragonborn\": {\n      \"name_pt\": \"Draconato\",\n      \"size\": \"Médio\",\n      \"speed\": 9,\n      \"ability_bonus\": {\n        \"str\": 2,\n        \"cha\": 1\n      },\n      \"languages\": [\"Comum\", \"Dracônico\"],\n      \"traits\": [\n        \"Arma de sopro\",\n        \"Resistência ao tipo de dano do dragão ancestral\"\n      ],\n      \"choices\": [\"Escolher Ancestral Dracônico\"]\n    },\n    \"Gnome\": {\n      \"name_pt\": \"Gnomo\",\n      \"size\": \"Pequeno\",\n      \"speed\": 7.5,\n      \"darkvision\": 18,\n      \"ability_bonus\": {\n        \"int\": 2\n      },\n      \"languages\": [\"Comum\", \"Gnômico\"],\n      \"traits\": [\"Esperteza Gnômica (vantagem em testes mentais contra magia)\"],\n      \"subraces\": {\n        \"Forest\": {\n          \"name_pt\": \"Gnomo da Floresta\",\n          \"ability_bonus\": {\n            \"dex\": 1\n          },\n          \"traits\": [\"Truque: Ilusão Menor\", \"Falar com Bestas Pequenas\"]\n        },\n        \"Rock\": {\n          \"name_pt\": \"Gnomo das Rochas\",\n          \"ability_bonus\": {\n            \"con\": 1\n          },\n          \"traits\": [\"Conhecimento de Artífice\", \"Ferramentas de Engenhoqueiro\"]\n        }\n      }\n    },\n    \"Half-Elf\": {\n      \"name_pt\": \"Meio-Elfo\",\n      \"size\": \"Médio\",\n      \"speed\": 9,\n      \"darkvision\": 18,\n      \"ability_bonus\": {\n        \"cha\": 2,\n        \"choice\": {\n          \"value\": 1,\n          \"count\": 2\n        }\n      },\n      \"languages\": [\"Comum\", \"Élfico\", \"1 idioma adicional\"],\n      \"traits\": [\"Ancestral Feérico\", \"Versatilidade em Perícia (escolher 2 perícias)\"]\n    },\n    \"Half-Orc\": {\n      \"name_pt\": \"Meio-Orc\",\n      \"size\": \"Médio\",\n      \"speed\": 9,\n      \"darkvision\": 18,\n      \"ability_bonus\": {\n        \"str\": 2,\n        \"con\": 1\n      },\n      \"languages\": [\"Comum\", \"Orc\"],\n      \"traits\": [\n        \"Proficiência em Intimidação\",\n        \"Resistência Implacável\",\n        \"Ataques Selvagens\"\n      ]\n    },\n    \"Tiefling\": {\n      \"name_pt\": \"Tiefling\",\n      \"size\": \"Médio\",\n      \"speed\": 9,\n      \"darkvision\": 18,\n      \"ability_bonus\": {\n        \"int\": 1,\n        \"cha\": 2\n      },\n      \"languages\": [\"Comum\", \"Infernal\"],\n      \"traits\": [\n        \"Resistência a dano de fogo\",\n        \"Truque: Taumaturgia\",\n        \"Magias: Repreensão Infernal (3° nível), Escuridão (5° nível)\"\n      ]\n    }\n  }\n}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -16
      ],
      "name": "AI Agent",
      "id": "5a00d6b8-932d-40e0-b0f2-f0ae54f3304c"
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chat_id }}-telegram",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1,
      "position": [
        480,
        208
      ],
      "name": "Redis Chat Memory",
      "id": "6747e9a4-3d96-4de0-a50e-56e222ead4e2",
      "credentials": {
        "redis": {
          "id": "cvoLMMT8ZAPUYxld",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Ferramenta Postgres para salvar fichas de personagem D&D 5e na tabela public.rpg_players.\n\nREGRAS:\n- Só pode fazer INSERT ou SELECT na tabela public.rpg_players.\n- NUNCA usar UPDATE, DELETE, DROP, TRUNCATE.\n- AO SER CHAMADA PELO AGENTE, a ferramenta receberá SOMENTE estes campos:\n telegram_user_id, telegram_username, real_name, character_name, race, class, level, background, alignment, max_hp, armor_class, str_score, dex_score, con_score, int_score, wis_score, cha_score, is_spellcaster, spellcasting_ability, sheet_json.\n\nEla mesma monta o INSERT fixo usando esses campos.\n",
        "operation": "executeQuery",
        "query": "INSERT INTO public.rpg_players (telegram_user_id, telegram_username, real_name, character_name, race, class, level, background, alignment, max_hp, armor_class, str_score, dex_score, con_score, int_score, wis_score, cha_score, is_spellcaster, spellcasting_ability, sheet_json) VALUES ({{ $json.telegram_user_id }}, '{{ $json.telegram_username }}', '{{ $json.real_name }}', '{{ $json.character_name }}', '{{ $json.race }}', '{{ $json.class }}', {{ $json.level }}, '{{ $json.background }}', '{{ $json.alignment }}', {{ $json.max_hp }}, {{ $json.armor_class }}, {{ $json.str_score }}, {{ $json.dex_score }}, {{ $json.con_score }}, {{ $json.int_score }}, {{ $json.wis_score }}, {{ $json.cha_score }}, {{ $json.is_spellcaster }}, '{{ $json.spellcasting_ability }}', '{{ JSON.stringify($json.sheet_json) }}'::jsonb) ON CONFLICT (telegram_user_id) DO UPDATE SET telegram_username = EXCLUDED.telegram_username, real_name = EXCLUDED.real_name, character_name = EXCLUDED.character_name, race = EXCLUDED.race, class = EXCLUDED.class, level = EXCLUDED.level, background = EXCLUDED.background, alignment = EXCLUDED.alignment, max_hp = EXCLUDED.max_hp, armor_class = EXCLUDED.armor_class, str_score = EXCLUDED.str_score, dex_score = EXCLUDED.dex_score, con_score = EXCLUDED.con_score, int_score = EXCLUDED.int_score, wis_score = EXCLUDED.wis_score, cha_score = EXCLUDED.cha_score, is_spellcaster = EXCLUDED.is_spellcaster, spellcasting_ability = EXCLUDED.spellcasting_ability, sheet_json = EXCLUDED.sheet_json, created_at = NOW() RETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        688,
        192
      ],
      "name": "Postgres RPG Tool",
      "id": "04d3d256-eb8a-444a-8661-80d9a4f07360",
      "credentials": {
        "postgres": {
          "id": "fRNavSYNEr8rrgnR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -16
      ],
      "name": "Telegram Send",
      "id": "837d0dfd-404c-482f-8c6e-62af85aff1c6",
      "webhookId": "c424f4de-14b3-4dc1-982f-bdc4b581e888",
      "credentials": {
        "telegramApi": {
          "id": "1TgyA7zT6HSpXmrB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "d408bcef-9846-48e0-af1a-79146f9e5933",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dCRBGTpFX8DnKm5Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres RPG Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82a0b6c2033eb2e531b802dac7072de9d7090a7397ee4c924dced66f92352e3f"
  }
}