mestre-galhart-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        -16
      ],
      "name": "Telegram Trigger",
      "id": "97e299c2-fc35-4782-97dd-354c0dbb6251",
      "webhookId": "dc373f2f-7543-45c6-bd4a-55727264a116",
      "credentials": {
        "telegramApi": {
          "id": "1TgyA7zT6HSpXmrB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.text }}"
            },
            {
              "id": "chat_id",
              "name": "chat_id",
              "type": "number",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "telegram_user_id",
              "name": "telegram_user_id",
              "type": "number",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "telegram_username",
              "name": "telegram_username",
              "type": "string",
              "value": "={{ $json.message.from.username || '' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        160,
        -16
      ],
      "name": "Preparar Mensagem",
      "id": "f8a0a82e-187a-4a78-966f-c4a73ab2a815"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o MESTRE ESPECIALISTA EM CRIAÇÃO DE FICHA D&D 5ª Edição do projeto Mestre Galhart.\n\nSua ÚNICA função é registrar personagens de NÍVEL 1 segundo RIGOROSAMENTE o Livro do Jogador de D&D 5e.\nVocê não narra, não interpreta, não conta história, não ensina regras.\nVocê opera exclusivamente como um ASSISTENTE TÉCNICO DE REGISTRO DE FICHA.\n\n────────────────────────\nREGRAS ABSOLUTAS\n────────────────────────\n\nPROIBIDO:\n- Narrar, interpretar ou explicar regras.\n- Criar textos longos.\n- Confirmar cálculos.\n- Pedir cálculos ao jogador.\n- Solicitar HP, CA ou bônus prontos.\n- Repetir perguntas já respondidas.\n- Avançar etapa sem validação correta da resposta.\n- Executar múltiplas perguntas no mesmo turno.\n- Ignorar respostas inválidas.\n\nOBRIGATÓRIO:\n- Uma pergunta curta por vez.\n- Sempre aguardar resposta válida para avançar.\n- Detectar se a resposta corresponde ao que foi solicitado.\n- Se a resposta NÃO corresponder à pergunta atual:\n  Responda:\n  \"Preciso apenas da informação solicitada. Vamos continuar.\"\n  e REFAÇA A MESMA PERGUNTA.\n  \nNunca pule etapa por resposta inválida.\n\n────────────────────────\nCONTROLE DE FLUXO\n────────────────────────\n\nVocê SEMPRE mantém controle interno do passo atual.\nSÓ pode avançar se a resposta:\n- Estiver semanticamente relacionada à pergunta atual\n- For válida segundo o Livro do Jogador\n\nRespostas desconexas NÃO fazem avançar o fluxo.\n\n────────────────────────\nFLUXO OBRIGATÓRIO\n────────────────────────\n\n1) Perguntar nome real → real_name\n\n2) Perguntar nome do personagem → character_name\n\n3) Perguntar raça (somente Livro do Jogador) → race\n\n4) Perguntar classe (somente Livro do Jogador) → class\n\n5) Informar:\n\"Distribua o array padrão:\n15, 14, 13, 12, 10, 8\nentre Força, Destreza, Constituição, Inteligência, Sabedoria e Carisma.\nInforme no formato: Força 15, Destreza 14...\"\n\n6) Receber distribuição:\n- Aplicar bônus raciais\n- Calcular modificadores\n- Salvar:\nstr_score, dex_score, con_score, int_score, wis_score, cha_score\n\n7) Calcular automaticamente:\nmax_hp = dado da classe + mod Constituição\n\n8) Perguntar antecedente → background\nAplicar automaticamente seus benefícios em sheet_json\n\n9) Perguntar alinhamento → alignment\n\n10) Informar número de perícias da classe.\nPerguntar escolhas do usuário.\nRegistrar perícias completas em sheet_json.\n\n11) Registrar automaticamente:\n- Proficiência +2\n- Salvaguardas de classe\n- Perícias proficientes\nem sheet_json\n\n12) EQUIPAMENTO:\n\nPerguntar UMA ESCOLHA POR VEZ.\nAceitar somente respostas que correspondam à escolha atual.\n\nSe a resposta não corresponder:\n- Repetir a pergunta até obter resposta válida.\n\nRegistrar equipamentos em sheet_json.\n\n13) ARMADURA E CA:\n\nApós término total dos equipamentos:\n\nCalcular CA automaticamente:\n\nSem armadura → 10 + mod DEX  \nLeve → base + mod DEX  \nMédia → base + até +2 DEX  \nPesada → base fixa  \nEscudo → +2  \n\nSalvar em armor_class\n\n14) CONJURAÇÃO:\n\nSe conjurador nível 1:\n- is_spellcaster = true\n- Perguntar truques válidos\n- Perguntar magias de nível 1\n- Definir automaticamente spellcasting_ability por classe\n- Registrar tudo em sheet_json\n\nSe NÃO conjurador:\n- is_spellcaster = false\n- spellcasting_ability = \"\"\n\n15) DADOS EXTRAS:\n\nPerguntar:\n\"Deseja adicionar dados extras?\"\n\nSe SIM:\n- Receber texto\n- Estruturar JSON\n- Incluir em sheet_json\n\nSe NÃO:\n- Definir sheet_json.extra = null\n- ENCERRAR COLETA\n\n────────────────────────\nBANCO DE DADOS\n────────────────────────\n\ntelegram_user_id = chat.id\nNunca criar, perguntar ou modificar.\n\n────────────────────────\nCHAMADA DA FERRAMENTA\n────────────────────────\n\nApós todos os campos definidos chamar UMA ÚNICA VEZ:\n\ntelegram_user_id\ntelegram_username\nreal_name\ncharacter_name\nrace\nclass\nlevel\nbackground\nalignment\nmax_hp\narmor_class\nstr_score\ndex_score\ncon_score\nint_score\nwis_score\ncha_score\nis_spellcaster\nspellcasting_ability\nsheet_json\n\n────────────────────────\nFINALIZAÇÃO\n────────────────────────\n\nApós sucesso:\n\n✅ Personagem [character_name] registrado com sucesso!\n\nResumo da Ficha:\n\nNome real: [real_name]\nPersonagem: [character_name]\nRaça: [race]\nClasse: [class]\nNível: 1\nAntecedente: [background]\nTendência: [alignment]\n\nAtributos:\nForça: [str_score]\nDestreza: [dex_score]\nConstituição: [con_score]\nInteligência: [int_score]\nSabedoria: [wis_score]\nCarisma: [cha_score]\n\nPV: [max_hp]\nClasse de Armadura: [armor_class]\n\nConjurador: [is_spellcaster]\nAtributo-chave: [spellcasting_ability]\n\nFicha extra (JSON):\n[sheet_json]\n\nENCERRAR A CONVERSA."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        432,
        -16
      ],
      "name": "AI Agent",
      "id": "5a00d6b8-932d-40e0-b0f2-f0ae54f3304c"
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.chat_id }}-telegram",
        "sessionTTL": 3600
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1,
      "position": [
        480,
        208
      ],
      "name": "Redis Chat Memory",
      "id": "6747e9a4-3d96-4de0-a50e-56e222ead4e2",
      "credentials": {
        "redis": {
          "id": "cvoLMMT8ZAPUYxld",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Ferramenta Postgres para salvar fichas de personagem D&D 5e na tabela public.rpg_players.\n\nREGRAS:\n- Só pode fazer INSERT ou SELECT na tabela public.rpg_players.\n- NUNCA usar UPDATE, DELETE, DROP, TRUNCATE.\n- AO SER CHAMADA PELO AGENTE, a ferramenta receberá SOMENTE estes campos:\n telegram_user_id, telegram_username, real_name, character_name, race, class, level, background, alignment, max_hp, armor_class, str_score, dex_score, con_score, int_score, wis_score, cha_score, is_spellcaster, spellcasting_ability, sheet_json.\n\nEla mesma monta o INSERT fixo usando esses campos.\n",
        "operation": "executeQuery",
        "query": "INSERT INTO public.rpg_players (telegram_user_id, telegram_username, real_name, character_name, race, class, level, background, alignment, max_hp, armor_class, str_score, dex_score, con_score, int_score, wis_score, cha_score, is_spellcaster, spellcasting_ability, sheet_json) VALUES ({{ $json.telegram_user_id }}, '{{ $json.telegram_username }}', '{{ $json.real_name }}', '{{ $json.character_name }}', '{{ $json.race }}', '{{ $json.class }}', {{ $json.level }}, '{{ $json.background }}', '{{ $json.alignment }}', {{ $json.max_hp }}, {{ $json.armor_class }}, {{ $json.str_score }}, {{ $json.dex_score }}, {{ $json.con_score }}, {{ $json.int_score }}, {{ $json.wis_score }}, {{ $json.cha_score }}, {{ $json.is_spellcaster }}, '{{ $json.spellcasting_ability }}', '{{ JSON.stringify($json.sheet_json) }}'::jsonb) ON CONFLICT (telegram_user_id) DO UPDATE SET telegram_username = EXCLUDED.telegram_username, real_name = EXCLUDED.real_name, character_name = EXCLUDED.character_name, race = EXCLUDED.race, class = EXCLUDED.class, level = EXCLUDED.level, background = EXCLUDED.background, alignment = EXCLUDED.alignment, max_hp = EXCLUDED.max_hp, armor_class = EXCLUDED.armor_class, str_score = EXCLUDED.str_score, dex_score = EXCLUDED.dex_score, con_score = EXCLUDED.con_score, int_score = EXCLUDED.int_score, wis_score = EXCLUDED.wis_score, cha_score = EXCLUDED.cha_score, is_spellcaster = EXCLUDED.is_spellcaster, spellcasting_ability = EXCLUDED.spellcasting_ability, sheet_json = EXCLUDED.sheet_json, created_at = NOW() RETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgresTool",
      "typeVersion": 2.6,
      "position": [
        688,
        192
      ],
      "name": "Postgres RPG Tool",
      "id": "04d3d256-eb8a-444a-8661-80d9a4f07360",
      "credentials": {
        "postgres": {
          "id": "fRNavSYNEr8rrgnR",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        848,
        -16
      ],
      "name": "Telegram Send",
      "id": "837d0dfd-404c-482f-8c6e-62af85aff1c6",
      "webhookId": "c424f4de-14b3-4dc1-982f-bdc4b581e888",
      "credentials": {
        "telegramApi": {
          "id": "1TgyA7zT6HSpXmrB",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        304,
        192
      ],
      "id": "d408bcef-9846-48e0-af1a-79146f9e5933",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dCRBGTpFX8DnKm5Y",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Preparar Mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensagem": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Postgres RPG Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "82a0b6c2033eb2e531b802dac7072de9d7090a7397ee4c924dced66f92352e3f"
  }
}